<?xml version="1.0"?>

<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="SIMWCFServicesAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" />
    <services>
      <service name="SIMWCFServices">
        <endpoint address="" behaviorConfiguration="SIMWCFServicesAspNetAjaxBehavior" binding="webHttpBinding"
                  contract="SIMWCFServices" />
      </service>
    </services>
  </system.serviceModel>
</configuration>