<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SageFrame.Core.Properties.Settings.SfoptConnectionString"
            connectionString="Data Source=NISCHAL-PC\SQLEXPRESS;Initial Catalog=Sfopt;User ID=sa;Password=sa"
            providerName="System.Data.SqlClient" />
        <add name="SageFrame.Core.Properties.Settings.sageframe_20101125ConnectionString1"
            connectionString="Data Source=192.168.3.27;Initial Catalog=sageframe_20101125;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="SageFrame.Core.Properties.Settings.TempforSpConnectionString"
            connectionString="Data Source=NISCHAL-PC\SQLEXPRESS;Initial Catalog=TempforSp;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="SageFrame.Core.Properties.Settings.SageFrameConnectionString"
            connectionString="Data Source=192.168.3.26;Initial Catalog=SageFrame;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="SageFrame.Core.Properties.Settings.SageFrameCorporateConnectionString"
            connectionString="Data Source=192.168.3.27;Initial Catalog=SageFrameCorporate;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="SageFrame.Core.Properties.Settings.SageFrameIntegrationConnectionString"
            connectionString="Data Source=DINESH_DOTNET;Initial Catalog=SageFrameIntegration;User ID=sa;Password=brain"
            providerName="System.Data.SqlClient" />
        <add name="SageFrame.Core.Properties.Settings.SageFrameFreshConnectionString"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=SageFrameFresh;User ID=sa;Password=brain"
            providerName="System.Data.SqlClient" />
        <add name="SageFrame.Core.Properties.Settings.sageframe_20101125ConnectionString"
            connectionString="Data Source=192.168.3.27;Initial Catalog=sageframe_20101125;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>