.nivoSlider { /*position:relative; border:1px solid #9ABBD4; padding:2px;  background-color:#fff;*/ }

.nivoSlider img {
    position: absolute;
    top: 0px;
    left: 0px;
}
/* If an image is wrapped in a link */

.nivoSlider a.nivo-imageLink {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border: 0;
    padding: 0;
    margin: 0;
    z-index: 60;
    display: none;
}
/* The slices in the Slider */

.nivo-slice {
    display: block;
    position: absolute;
    z-index: 50;
    height: 100%;
}
/* Caption styles */

.nivo-caption {
    position: absolute;
    left: 0px;
    bottom: 0;
    background: #000;
    color: #fff;
    /*opacity:0.8;  Overridden by captionOpacity setting */
    width: 100%;
    z-index: 89;
    z-index: *auto;
}

.nivo-caption p {
    padding: 5px;
    margin: 0;
    font: #fff !important;
}

.nivo-caption a { display: inline !important; }

.nivo-html-caption { display: none; }
/* Direction nav styles (e.g. Next & Prev) */

.nivo-directionNav a {
    position: absolute;
    top: 45%;
    z-index: 99;
    cursor: pointer;
}

.nivo-prevNav { left: 0px; }

.nivo-nextNav { right: 0px; }
/* Control nav styles (e.g. 1,2,3...) */

.nivo-controlNav a {
    position: relative;
    z-index: 99;
    cursor: pointer;
}

.nivo-controlNav a.active { font-weight: bold; }
/*=== Custom Slider Styles ===*/

#slider-wrapper {
    height: 240px;
    border: 1px solid #B4C9A2;
    background-color: #fff;
    padding: 1px;
}

#slider {
    position: relative;
    top: 0px;
    background: url(images/loading.gif) no-repeat 50% 50% #fff !important;
    left: 0;
    overflow: hidden !important;
}

#slider img {
    position: absolute;
    top: 0px;
    left: 0px;
    display: none;
    width: 244px;
    height: 240px;
}

#slider a {
    border: 0;
    display: block;
}

.nivo-controlNav {
    position: absolute;
    left: 72px;
    bottom: 0px;
}

.nivo-controlNav a {
    display: block;
    width: 18px;
    height: 22px;
    background: url(images/bullets.png) no-repeat;
    text-indent: -9999px;
    border: 0;
    float: left;
}

.nivo-controlNav a.active { background-position: 0 -22px; }

.nivo-directionNav a {
    display: block;
    width: 30px;
    height: 30px;
    background: url(images/arrows.png) no-repeat;
    text-indent: -9999px;
    border: 0;
}

a.nivo-nextNav {
    background-position: -30px 0;
    right: 15px;
}

a.nivo-prevNav { left: 15px; }

.nivo-caption {
    text-shadow: none;
    font-family: Helvetica, Arial, sans-serif;
    background-color: #000;
    height: 38px;
}

.nivo-caption a {
    font-weight: bold;
    color: #efe9d1;
}

.nivo-caption a:hover {
    color: #fff;
    text-decoration: underline;
}

.clear { clear: both; }

.nivo-caption span {
    color: #D4ECFA;
    float: right;
}